/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c28e0e; /* Purdue Gold */
    color: #1c1c1c; /* Dark text */
    text-align: center;
}

/* Navigation Bar */
nav {
    background-color: #000000; /* Purdue Black */
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.twitter-icon {
    color: #8B4513; /* Twitter blue */
    font-size: 15px;
    padding-left: 10px;
    text-decoration: none;
}

.twitter-icon:hover {
    opacity: 0.8;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.menu a:hover {
    color: #c28e0e; /* Purdue Gold */
}

/* Hamburger Menu for Small Screens */
.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding-right: 15px;
}

/* Close Icon for Mobile Menu */
.close-menu {
    display: none;
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

/* Mobile Menu */
@media (max-width: 700px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #000000;
        padding: 20px;
    }

    .menu li {
        margin-bottom: 15px;
    }

    .menu-toggle {
        display: block;
    }

    .close-menu {
        display: block;
    }
}

/* Main Content */
.content {
    margin-top: 80px;
    text-align: center;
}

.content img {
    width: 800%;
    max-width: 100px;
    height: auto;
    margin-top: 20px;
}

h3 {
    font-size: 16px;
    width: 80%;
    margin: 20px auto;
}

/* Bulletin Page */
.bulletin {
    margin-top: 80px;
    padding: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin-top: 0;
}

/* Week Page */
.coming-soon {
    margin-top: 100px;
    font-size: 24px;
    font-weight: bold;
}
